* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.main-header,
.nav {
  display: flex;
  flex-direction: column;
}


body {
  font-family: Helvetica, Helvetica Neue, Arial;
  text-align: center;
  color: #222;
  background: #f7f5f0;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.header-container{
 display: block;

}

/* .main-header {
    border-bottom: 10px solid #9e171e;
} */

.footer-container
{
    border-top: 20px solid #599a68;
}

 h1 {

    margin: 0 0 30px 0;
    text-align: center;
    color: rgb(196, 62, 21);
  }



a { 
	color: rgb(48, 30, 209);
	text-decoration: none;
}
/* ================================= 
  Base Layout Styles
==================================== */

header {
  background: lightgreen;
	padding: 1em 0;
	height: auto;
  margin: 0;
	text-align: center;
}

/* ---- Navigation ---- */
nav {
display: block;
background-color: #c9c1c2;


}

li {
  width: 100%;
  
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  display: block;
  margin-bottom: 10px;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background: #599a68;
}

nav a:hover,
nav a:visited {
  color: white;
}

nav a:hover {
  text-decoration: underline;
}

/* The hero image */

.hero-image {
   
    background-image: linear-gradient(rgba(218, 204, 204, 0.5), rgba(155, 192, 196, 0.5)), url("../img/Hero2.png");
    background-image: url(../img/Hero3.bmp);
  
    /* Set a specific height */
     /* height: 100%; */
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
  }

  /* .hero-image {

    
  } */

  .hero-text {
    text-align: center;
    position: ABSOLUTE;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }


/* #hero {
    display: flex;
    margin: 0 0;
    padding-left: 0;
} */

footer {
	padding: 2em 0;
	background: #d9e4ea;
}

/* ---- Layout Containers ---- */



/* ---- Page Elements ---- */



/* .container {
    display: flex;
    flex-direction: column;
} */

#btn-submit,
#btn-reset {
  position: relative;
  color: aqua;
  width: auto;
  height: 25px;
  background-color: beige;
  text-decoration-style: double;
}

.img-one {
 /* display: flex;  */
 width: 100%;

}
form {
    /* max-width: auto; */
    position: flex;
    margin: 10px auto;
    padding: 10px 20px;
    background: #d1dee2;
    border-radius: 8px;
  }
  
  /* h1 {
    margin: 0 0 30px 0;
    text-align: center;
  }
   */

  input[type="text"],
  textarea,
  select {
    background: rgba(163, 108, 108, 10);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px 15px;
    /* width: 100%; */
    background-color: #33a1b4;
    color: white;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    /* margin-top: 20px; */
  }
  
  label {
    width: 250px;
  }

/*************************
Media Queries
*************************/

@media (min-width: 769px) {

  .main-header,
.nav {
  flex-direction: row;
}

  a {
    float: left;
    width: 30%;
    margin: 0 0 0 5%;
    padding: 25px 1%;
    margin-bottom: 0;
  }

  nav li:first-child a {
    margin-left: 0;
  }

  nav li:last-child a {
    margin-right: 0;
  }

}

@media (min-width: 1200px) {

  .title {
    float: left;
    font-size: 1.4em;
  }

  nav {
    float: right;
    width: 60%;
  }

  nav a {
    padding: 15px 1%;
  }

  .main article {
    float: left;
    width: 57%;
  }

  .main aside {
    float: right;
    width: 38%;
  }

}



/*************************
Clearfix
*************************/

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
