* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
*, *:before, *:after {
  box-sizing: inherit;
} 


/* ================================= 
  Base Layout Styles
==================================== */


.wrapper {
  margin: 0 auto;
}



body {
  font-family: Helvetica, Helvetica Neue, Arial;
  text-align: center;
  /* color: #222; */
  /* background: #afa794; */
}

h1 {
  margin: 0;
  /* text-align: center; */
  color: rgb(196, 62, 21);
} 

h2 {
  color: #33a1b4;
  width: auto;

}

/* nav {
  box-sizing: border-box;
} */
/* .main-container {
  background-color: violet;
} */

.col2 {
  background-color: aliceblue;
  /* margin-right: 30px;
  width: auto;*/
}


/* ================================= 
  Navigation
==================================== */
/* .header-container {
  display: flex;

} */


.main-header {
  /* position: fixed; */

  background-color: #599a68;

/* z-index: 1000; */
  

}

.logo {
  /* max-width: 350px; */
  text-align: left;
}

.toggle-button {
  position: absolute;
  top: 2rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50px;
  height: 40px;
  background-color: none;
  /* z-index: 2000; */
}

.toggle-button .bar {
  height: 10px;
  width: 100%;
  background-color: rgb(10, 8, 8);
  border-radius: 10px;
  z-index: 2000;
}

.navbar-links ul {
  width: 100%;
}

.navbar-links li {
 list-style-type: none; 
 
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links li:nth-child(4) {
  font-style: italic;
  /* margin-bottom: 5px; */
  }
  .navbar-links li:hover {
  background-color: #33a1b4;
  font-style: italic;
}

/* .navbar-links a {
 text-align: center; 
 text-decoration: none;
 font-weight: bold;
 }  */
 .main-header {
  display: flex;
  flex-direction: column;
}

.navbar-links {
  display: none;
}


.navbar-links.active {
  display: flex;
  flex-direction: column;
}

.navbar-links a:hover,
.navbar-links a:visited {
 
 color: white;
}

.navbar-links a:hover {
 text-decoration: none;

}

/* ================================= 
  The hero image 
==================================== */


.hero-image {
  background-image: linear-gradient(rgba(107, 67, 67, 0.3), rgba(42, 70, 73, 0.2)), url("../img/hero-img01.jpg");
  background-size: cover;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
   /* width: 100%; */
  
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(238, 231, 233);
}
h3 {
  font-size: 2em;
  font-weight: bold;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-hero {
  color: green;
}

/* ================================= 
  Form and Proj
==================================== */

img {
  width: 100%;
}

.form {
  
  /* padding: 10px 20px; */
  background: #d1dee2;
  border-radius: 8px;
}

.form li {
  list-style-type: none;
  /* margin: 10px 15px; */
  width: 100%;
}

.form li textarea {
  margin-top: 20px;

}

footer {
	padding: 2em 0;
	background: #d9e4ea;
}

.main-footer 
{
    border-top: 10px solid #599a68;
    text-align: center;
}


/*************************
   Contatc Form
*************************/
address {
  display: block;
  font-size: 1.4em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
  text-align: left;
  margin-left: 50%;
}


/*************************
Media Queries
*************************/

@media (min-width: 468px) {
  .wrapper {
    margin: 0 auto;
    width: 95%;
  }

  .toggle-button {
    display: none;
  }

  .logo {
    width: 30%;
  }

  .navbar-links li {
    margin-top: 15%;
    margin-left: 5px;
  }
  
  .col1 {
    /* display: flex;  */
    width: 49%;
  }

  .col2 {
    width: 47%;
  }

  h1 {
    font-size: 1.4em;
  }

  /* ul.nav {
   width: 67%;
  } */

  .navbar-links ul {
    width: 100%;
  }
  .navbar-links li {
    margin: auto;   
   
  }

} 
@media (min-width: 697px) {

  .wraper {
    width: 90%;
  }
  .logo {
    max-width: 350px;
    text-align: left;
  }

  h1 {
    font-size: 1.5em;
  }

  .navbar-links ul {
    /* display: block; */
    width: 100%;
    padding: 1rem;
  }
 
  .navbar-links a {
    padding: 15px 1%;
  }

  } 

  @media (min-width: 1100px) {
    .wrapper {
      width: 1290px;
    }

    .navbar-links,
    .navbar-links li {
        /* align-items: stretch; */
        justify-content: space-between;
      }
    
    
    }

/*************************
Clearfix
*************************/

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
